@charset "utf-8";
@import url("layout.css");

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, table {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0 none
}
dl, ul, ol, menu, li {
    list-style: none;
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}
input, select, textarea, button {
    vertical-align: middle
}
button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}
html, body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 20px;
    font-family:"NotoSans-Regular","맑은고딕", "Malgun Gothic",Segoe UI, Arial, ;
    font-size: 13px;
    color: #646464;
    background-color:#ebeef1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: justify;
}

body, th, td, input, select, textarea, button {
    font-size: 14px;
    color: #666;
}
a {
    color: #333;
    text-decoration: none;
    outline: none;
    select-dummy: expression(this.hideFocus=true);
}
a:active, a:hover {
    text-decoration: none
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal
}

h1, h2, h3, h4, h5, h6{
    font-family:'NotoSans-Regular';
    font-size:16px;
    color:#696969;
}
/* Common */
.clear {
    display: block;
    overflow: visible!important;
    width: auto!important;
    clear: both;
    float: none;
}
.fL {
    float: left;
}
.fR {
    float: right;
}

.mT2{margin-top:2px;}
.mT5{margin-top:5px;}
.mT7{margin-top:7px;}
.mT10{margin-top:10px;}
.mT15{margin-top:15px;}
.mT20{margin-top:20px;}
.mT30{margin-top:30px;}
.mL2{margin-left:2px;}
.mL5{margin-left:5px;}
.mL10{margin-left:10px;}
.mL20{margin-left:20px;}
.mR2{margin-right:2px;}
.mR5{margin-right:5px;}
.mR10{margin-right:10px;}
.mR20{margin-right:20px;}
.mB2{margin-bottom:2px;}
.mB5{margin-bottom:5px;}
.mB10{margin-bottom:10px;}
.mB20{margin-bottom:20px;}
.mB30{margin-bottom:30px;}



/* padding */
.pT5 { padding-top: 5px; }
.pT8 { padding-top: 8px; }
.pT10 { padding-top: 10px; }
.pT12 { padding-top: 12px; }
.pT14 { padding-top: 14px; }
.pT15 { padding-top: 15px; }
.pT25 { padding-top: 25px; }

.pR5 { padding-right: 5px; }
.pR7 { padding-right: 7px; }
.pR10 { padding-right: 10px;}
.pR20 { padding-right: 20px;}

.pL5 { padding-left: 5px; }
.pL10 { padding-left: 10px; }
.pL15 { padding-left: 15px; }
.pL20 { padding-left: 20px; }
.pL25 { padding-left: 25px; }

.pB10 { padding-bottom: 10px; }
.pB30 { padding-bottom: 30px; }

.bg_grey {background:#f5f5f5;}
